*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.main-header{
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding-top: 38px;
  padding-bottom: 38px;
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  
}

.header-logo{
  display: flex;
  align-items: center;
  width: 50%;
  gap: 17px;
  /* border: 1px solid red; */
}
.header-logo h2{
  color: #0B0223;
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar{
  width: 50%;
  /* border: 1px solid red; */
}
.navbar ul{
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar ul li{
  list-style: none;
  color: #3C354F;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.navbar ul li a{
  text-decoration: none;
  color: #3C354F;
}

.follow-btn{
  color: #3C354F;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  /* border-radius: 8px; */
  background: rgba(11, 2, 35, 0.10);
  display: flex;
  gap: 1.4rem;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  align-items: center;
}

.fa-brands{
  font-size: 1.5rem;
}
.fa-youtube{
  color: red;
}

.G-class{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* banner styles */

.banner-section{
  display: flex;
  align-items: center;
  height: 100vh;
}
.main-banner-text{
  width: 50%;
  /* border: 1px solid burlywood; */
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-text{
   text-align: center;
   /* border: 1px solid red; */
   width: 100%;
   padding-right: 90px;
  
   
}
.banner-text .banner-text-paragraph{
  color: #0B0223;
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-text-goat{
  font-size: 5.3rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text .banner-list{
  /* border: 1px solid red; */
  width: 45%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;

}

.banner-text .banner-list ul li{
  list-style: none;
  color: #534C64;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 12px;
}

.banner-button{
  color: #FFF;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  padding: 18px 37px;
  border-radius: 48px;
}
.first-button{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.second-button{
  
   background: #4EC5F7;
}

.banner-images{
  width: 50%;
  
}
.banner-images .banner-photo{
  width: 77%;
}

/* online section styles */

.online-section{
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
.online-header{
  color: #0B0223;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 700;
  margin-top: 40px;
}
.funny-section{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  margin-top: 40px;
}
.online-card .card-text{
  margin-top: 10px;
  color: #534C64;
  font-size: 1rem;
  font-weight: 500;

}
.online-card img{
  width: 100%;
}
.online-section .online-description{
  color: #534C64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 16px;
}

